<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Contact & Info</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">
    <style>
      .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 500px;
      }
      .left {
        text-align: center;
        grid-column: 1;
      }
      .right {
        text-align: center;
        grid-column: 3;
      }
    </style>
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-200 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Contact & Info</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/about_me">Contact & Info</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <div class="row">
          <div class="column-left">
            <h1 class="cover-heading">Ian Hetterich</h1>
            <img src="/static/about.jpg" alt="Me" width="300" height="300">
            <p style="font-size:20px">ihetterich@gmail.com</p>
            <a style="font-size:20px " href="https://www.linkedin.com/in/ian-hetterich/">LinkedIn</a>
            <br>
            <br>
            <a style="font-size:20px" href="https://github.com/IHetterich">Github</a>
          </div>
          <div class="column-right">
            <br>
            <br>
            <h3 class="cover-heading">Tech Stack</h3>
            <img src="/static/tech_stack.png" alt="Me" width="300" height="300">
          </div>
        </div> 
        
        
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
